@page "/about"

<h3>About</h3>

<div class="row" style="padding-bottom: 10px">
    Disclaimer: This website is not affiliated to the California government or any health organization. The information shown here is not approved by the State or Health Officials in the state of California.
</div>
<div class="row" style="padding-bottom: 10px">
    The risk level estimates are not the official county risk tier, this is intended for hypothetical estimation. The COVID-19 risk level tier is officially declared by California and Health Officials. Please check the California government website for official information.
    <a target="_blank" href="https://covid19.ca.gov/">COVID19.CA.GOV</a>
</div>
<div class="row" style="padding-bottom: 10px">
    The data shown in this website has been obtained from the following sources:
</div>
<div class="row" style="padding-bottom: 30px">
    <ul>
        <li>California Open Data: <a target="_blank" href="https://data.ca.gov/"> https://data.ca.gov/ </a></li>
        <li>United States Census Bureau: <a target="_blank" href="https://www.census.gov/quickfacts/fact/table/"> https://www.census.gov/quickfacts/fact/table/ </a></li>
    </ul>
</div>

<div class="row" style="padding-bottom: 10px">
    Developed by Ricardo Chaidez
</div>
<div class="row" style="padding-bottom: 10px">
    <ul>
        <li><i class="fab fa-linkedin fa-2x"></i><a target="_blank" href="https://www.linkedin.com/in/ricardochaidez/"> https://www.linkedin.com/in/ricardochaidez/ </a></li>
        <li><i class="fab fa-twitter-square fa-2x"></i><a target="_blank" href="https://twitter.com/ChaidezRicardo"> https://twitter.com/ChaidezRicardo </a></li>
        <li><i class="fab fa-github-square fa-2x"></i><a target="_blank" href="https://github.com/ricardochaidez"> https://github.com/ricardochaidez </a></li>
    </ul>
</div>
<div class="row">
    <h5>Blog</h5>
</div>
<div class="row" style="padding-bottom: 20px">
    <a target="_blank" href="http://www.cafeconcode.com/"> http://www.cafeconcode.com/ </a>
</div>
<div class="row" style="padding-bottom: 20px">
    Source code of this project: <a target="_blank" href="https://github.com/ricardochaidez/Covid19Status">https://github.com/ricardochaidez/Covid19Status</a>
</div>